*{
  padding:0;
  margin:0;
  font-family: roboto,sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10%;
  width:fit-content;
  margin-left:auto;
  margin-right:auto;
  box-shadow:0px 0px 50px;
  border-radius: 15px;

}

.dice_headers{
  display: flex;
  gap: 10%;
  font-size: 17px;
  justify-content: space-around;
  padding: 10px;

}
.initial img{
 width:150px;
 padding: 10px;
}

#status{
  font-size: 40px;
  text-align: center;
  padding: 10px;
  font-family: roboto,sans-serif;
  font-weight: bold;
}